POSTGRES_PASSWORD=yourPassword
POSTGRES_USER=yourUser
POSTGRES_DB_DATA=dataDB
DB_PORT=5432
MONGO_INITDB_ROOT_USERNAME=auditDBUser
MONGO_INITDB_ROOT_PASSWORD=audiDBPassword
MONGO_DB_AUDIT=auditDB
AUDIT_DB_PORT=
GATEWAY_PORT=8080
MONGO_USER=auditServiceUser
MONGO_PASSWORD=mot-de-passe